.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 15px 25px;
  border-radius: 10px;
}
.title_email {
  font-size: 20px;
  color: white;
}
.title_password {
  font-size: 20px;
  color: white;
}
.input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

.input:focus {
  border: 2px solid #4caf50;
}
.reminder {
  color: white;
  margin-top: 20px;
}
.button_login {
  margin-top: 10px;
}
.label {
  color: #fff;
  font-size: 20px;
}
